@charset "UTF-8";
/*===================== шрифты ===========================*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
.basic-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Lato", "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}

.main-title {
  /* h1 */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}
.main-title--mobile {
  color: #ffffff;
}

.section-title {
  /* h2 */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}

.subtitle {
  /* h3 */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.nav-text {
  /* ссылки в меню */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slogan {
  /* слоган в Hero */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
.slogan.slogan--mobile {
  color: #ffffff;
  line-height: 14px;
}

.button-text {
  /* слоган в Hero */
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
}
.button-text.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.link-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.product-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.second-page-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.product-lid-txt {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Lato", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
}

.form-lid-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.form-txt {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 320px;
  margin: auto;
}
.container--second {
  background-color: #f2f2f2;
}

.button {
  padding: 10px 20px;
  display: block;
}

.transfer-block {
  display: inline;
}

.inner {
  padding: 0 20px;
}

.container {
  outline: 1px solid #f9baba;
}

.page__body {
  background-color: #ffffff;
  margin: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-link__img {
  margin-right: 56px;
}

.main-header__wrapp {
  display: flex;
}

.main-header__mav {
  padding: 13px 0 14px 0;
}

.main-nav__wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 22px 0 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.hero {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/tmp/index-background-mob.jpg");
  background-repeat: no-repeat;
  background-position: top, top center;
  background-size: auto 302px, 320px 302px;
  background-color: #ff0000;
}

.hero__container {
  padding-top: 27px;
  padding-bottom: 10px;
  text-align: center;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__slogan {
  margin-bottom: 29px;
}

.results__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-item {
  padding: 21px 33px 18px 20px;
  background-color: #f2f2f2;
}

.result-item__link {
  padding-top: 15px;
  display: block;
  border-top: 1px solid #d9d9d9;
}

.features__container {
  padding-top: 10px;
  padding-bottom: 49px;
}

.features__title {
  margin-bottom: 40px;
}

.features__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.examples {
  background-color: #eaeaea;
}

.examples__container {
  padding-top: 25px;
  padding-bottom: 40px;
}

.examples__title {
  margin-bottom: 40px;
}

.examples__description {
  margin-bottom: 20px;
}

.examples__wrapp {
  margin-bottom: 20px;
}

.examples__costs {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.property {
  display: flex;
  justify-content: space-between;
}

.slider__button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.main-footer__container {
  padding-top: 26px;
}

.main-footer__wrapp {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f2f2f2;
}

.main-footer__logo-text {
  margin-bottom: 20px;
}

.main-footer__social {
  display: block;
}

.main-footer__htmlacademy-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Lato", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
  margin-top: 20px;
  text-decoration: none;
}

.contacts__wrapp {
  display: flex;
  margin-bottom: 26px;
}

.contacts__address {
  font-style: normal;
}

.social {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-main {
  padding-top: 27px;
  padding-bottom: 35px;
  border-top: 1px solid #d9d9d9;
}

.product-card {
  border-top: 1px solid #ebebeb;
}

.product-card__wrapp-flex {
  display: flex;
}

.product-card__title {
  margin-right: 70px;
}

.product-card__title-addit {
  margin-bottom: 13px;
}

.product-card__property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-card__link-img {
  width: 140px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__still {
  margin-top: 53px;
  margin-bottom: 8px;
  color: #111111;
}

.main-products__still {
  padding-top: 25px;
  padding-bottom: 24px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.main-products__title {
  margin-bottom: 41px;
  margin-left: 20px;
}

.main-products__item {
  padding-top: 20px;
  padding-bottom: 25px;
}

.additional-products {
  padding-top: 25px;
}

.additional-products__title {
  margin-bottom: 36px;
  margin-left: 20px;
}

.additional-products__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  list-style: none;
}

.additional-products__card {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-products__lid {
  margin-top: 35px;
}

.product-footer {
  padding-top: 59px;
  padding-bottom: 58px;
  text-align: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/tmp/catalog_bg-present.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 280px 290px, 280px 290px;
}

.product-footer__lid {
  margin-left: 58px;
  margin-right: 61px;
}

.product-footer__lid::before {
  display: block;
  content: "";
  width: 78px;
  height: 80px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../img/tmp/icon_gift.svg");
}

.form-main {
  border-top: 1px solid #d9d9d9;
  padding-top: 25px;
  padding-bottom: 32px;
}

.form-main__title {
  margin-bottom: 27px;
}

.form-main__lid {
  padding-right: 54px;
  padding-bottom: 39px;
}

.form__fildset {
  margin-left: 0;
  margin-right: 0;
}

.form__fildset {
  border: none;
  padding-bottom: 24px;
}
.form__fildset--no-label {
  border-bottom: 1px solid #d9d9d9;
}

.form__wrapp {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.form__label {
  display: flex;
  gap: 13px;
  align-items: center;
}

.form__name {
  flex-grow: 1;
}

.form__field {
  padding: 14px 10px 13px 15px;
  border: 1px solid #e7e7e7;
}

.form__title {
  margin-top: 24px;
  margin-bottom: 36px;
}

.form__textarea {
  width: 100%;
  border: 1px solid #e7e7e7;
}

.form__button {
  width: 100%;
  border: none;
}

.form__text {
  margin-top: 21px;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */