.additional-products {
  padding-top: 24px;
}

.additional-products__title {
  margin-bottom: 36px;

  @include media-tablet {
    margin-bottom: 80px;
  }
}

.additional-products__wrapp {
  @include media-desktop {
    display: flex;
    gap: 80px;
  }
}

.additional-products__list {
  @include list-reset;

  @include media-tablet {
    border-top: 1px solid $color-border-3;
    border-left: 1px solid $color-border-3;
    border-right: 1px solid $color-border-3;
  }

  @include media-desktop {
    flex-grow: 1;
    border-left: none;
    border-right: none;
  }
}

.additional-products__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title title"
    "descr data"
    "btn btn";
  gap: 10px;

  text-align: start;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid $color-border-3;

  @include media-tablet {
    padding: 26px 38px 28px;

    grid-template-columns: 6fr 3fr 1fr;
    grid-template-areas:
      "title descr data"
      "btn btn btn";
    gap: 25px 49px;
  }

  @include media-desktop {
    grid-template-columns: auto 185px 66px 244px;

    padding: 14px 0 17px;

    grid-template-areas: "title descr data btn";
    gap: 40px;
  }
}

.additional-products__title-card {
  grid-area: title;
  text-align: start;
}

.additional-products__description {
  text-align: left;
  grid-area: descr;
}

.additional-products__data {
  text-align: right;
  grid-area: data;
}

.additional-products__button {
  margin-top: 6px;
  grid-area: btn;
}

.additional-products__lid {
  margin-top: 37px;

  @include media-tablet {
    margin-top: 70px;
  }

  @include media-desktop {
    margin-top: 0;
  }
}
