.features__container {
  padding-top: 10px;
  padding-bottom: 49px;
}

.features__title {
  margin-bottom: 40px;

  @include media-tablet {
    margin-bottom: 32px;
  }
}

.features__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px 137px;
  }
}

.features__item {
  display: block;
  width: 249px;
  height: 280px;
}
