.features__container {
  padding-top: 10px;
  padding-bottom: 49px;

  @include media-tablet {
    padding-bottom: 69px;
  }
}

.features__title {
  margin-bottom: 40px;

  @include media-tablet {
    margin-bottom: 32px;
  }
}

.features__list {
  box-sizing: border-box;

  @include list-reset;

  display: grid;
  gap: 20px;
  // grid-template-columns: repeat(auto-fill, minmax(320px, 320px));

  @include media-tablet {
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    gap: 37px 60px;
  }

  @include media-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 74px;
  }
}

.features__item {
  position: relative;

  counter-increment: characters;

  display: flex;
  gap: 20px;

  @include media-tablet {
    display: block;
    padding-top: 40px;
    // width: 230px;
    height: 280px;
    // margin-right: 79px;

    &::before {
      margin-bottom: 31px;
    }
  }

  // @include media-desktop {
  //   margin-right: 0;
  // }
}

.features__item::after {
  @include media-tablet {

    content: counter(characters);

    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;

    @include font ($family: $font-secondary, $size: 280px, $line-height: 280px, $weight: 400, $color: $color-bg-grey);
  }
}
