.form__fildset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  padding-bottom: 24px;

  &--no-label {
    border-top: 1px solid $color-border-2;
    border-bottom: 1px solid $color-border-2;

    margin-left: -20px;
    margin-right: -20px;

    @include media-tablet {
      border: 1px solid $color-border-2;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.form__wrapp {
  display: flex;
  gap: 14px;
  flex-direction: column;

  &--cont {
    margin-top: 19px;
  }

  @include media-tablet {
    gap: 20px;
  }
}

.form__label {
  display: flex;
  gap: 13px;

  align-items: center;
}

.form__name {
  min-width: fit-content;
}

.form__field {
  width: 100%;
  padding: 14px 10px 13px 15px;
  border: 1px solid $color-border-field;
}

.form__title {
  margin-top: 24px;
  margin-bottom: 36px;

  @include media-tablet {
    margin-top: 65px;
    margin-bottom: 57px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $color-border-field;

  @include media-tablet {
    margin-top: 30px;
  }
}

.form--wrapp-horizon-1 {
  @include media-desktop {
    display: flex;
    gap: 80px;
  }
}

.form--wrapp-horizon-2 {
  @include media-tablet {
    display: flex;
    gap: 60px;
  }

  @include media-desktop {
    display: flex;
    gap: 80px;
  }
}

.form__button {
  width: 100%;
  border: none;

  @include media-tablet {
    width: auto;
    display: inline-block;
  }
}

.form__text {
  margin-top: 21px;
  margin-bottom: 0;
  text-align: center;
}
