.form__fildset {
  border: none;
  margin-left: 0;
  margin-right: 0;

  padding-bottom: 24px;

  &--no-label {
    border-top: 1px solid $color-border-2;
    border-bottom: 1px solid $color-border-2;

    @include media-tablet {
      border: 1px solid $color-border-2;
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}

.form__wrapp {
  display: flex;
  gap: 14px;
  flex-direction: column;

  @include media-tablet {
    margin-left: 40px;
    margin-right: 40px;

    gap: 20px;
  }
}

.form__label {
  display: flex;
  gap: 13px;

  align-items: center;
}

.form__name {
  min-width: fit-content;
}

.form__field {
  width: 100%;
  padding: 14px 10px 13px 15px;
  border: 1px solid $color-border-field;
}

.form__title {
  margin-top: 24px;
  margin-bottom: 36px;

  @include media-tablet {
    margin-left: 40px;
    margin-top: 65px;
    margin-bottom: 57px;
  }
}

.form__textarea {
  width: 100%;
  border: 1px solid $color-border-field;
}

.form__button {
  width: 100%;
  border: none;
}

.form__text {
  margin-top: 21px;
  margin-bottom: 0;
}
