.icon {
  overflow: visible;

  @include icon;

  &::before {
    content: "";

    @include icon;
  }

  &::after {
    content: "";

    @include icon;
  }
}

// .icon--round::after {
//   background-color: $color-bg-base;
//   border-radius: 50%;

//   width: 50px;
//   height: 50px;

//   @include media-tablet {
//     width: 200px;
//     height: 200px;
//   }

//   @include media-desktop {
//     width: 100px;
//     height: 100px;
//   }
// }

.icon--square::before {
  width: 60px;
  height: 60px;
  background-color: $color-bg-base;
  box-sizing: border-box;
  flex-shrink: 0;


  @include media-tablet {
    width: 80px;
    height: 80px;
  }
}

.icon--slim::before {
  background-image: url("../../img/tmp/cat-slim.svg");
  width: 50px;
  height: 53px;

  @include media-tablet {
    width: 200px;
    height: 211px;
  }

  @include media-desktop {
    width: 100px;
    height: 106px;
  }
}

.icon--fat::before {
  background-image: url("../../img/tmp/cat-pro.svg");
  width: 67px;
  height: 50px;

  @include media-tablet {
    width: 268px;
    height: 200px;
  }

  @include media-desktop {
    width: 134px;
    height: 100px;
  }
}

.icon--leaf::before {
  background-size: 30px 32px;
  background-image: url("../../img/tmp/icon_leaf.svg");
}

.icon--bowl::before {
  background-size: 26px 29px;
  background-image: url("../../img/tmp/icon-bowl.svg");
}

.icon--eat::before {
  background-size: 26px 30px;
  background-image: url("../../img/tmp/icon_eat.svg");
}

.icon--time::before {
  background-size: 26px 31px;
  background-image: url("../../img/tmp/icon-time.svg");
}

.icon--arrow::after {
  width: 24px;
  height: 12px;
  background-image: url("../../img/tmp/icon_arrow.svg");
}

.icon--social {
  width: 28px;
  height: 22px;
  background-color: $color-footer-icons;

  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  mask-position: center;
}

.icon--vk {
  mask-image: url("../../img/tmp/vkontakte.svg");
}

.icon--youtube {
  mask-image: url("../../img/tmp/youtube.svg");
}

.icon--telegramm {
  mask-image: url("../../img/tmp/telegram.svg");
}

.icon--email::after {
  mask-image: url("../../img/tmp/icon-email.svg");
  background-color: $color-black;
}

.icon--phone::after {
  background-color: $color-black;
  mask-image: url("../../img/tmp/icon-phone.svg");
}
