.logo-link {
  display: flex;
  align-items: end;
  gap: 13px;
  // position: relative;
}

.logo-link__img {
  display: block;
  margin-right: 56px;
}

.logo-link__txt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media-tablet {
    position: static;
  }
}
