.logo-link {
  display: flex;
  align-items: center;
  gap: 13px;

  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-link__img {
  display: block;

  @include media-tablet {
    margin-right: 56px;
  }
}

.logo-link__txt {
  width: 101px;
  height: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media-tablet {
    position: static;
  }

  @include media-desktop {
    width: 118px;
    height: 21px;
  }
}
