.main-footer__container {
  padding-top: 26px;

  @include media-tablet {
    padding-top: 60px;
  }
}

.main-footer__wrapp {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  background-color: $color-bg-grey;

  @include media-tablet {
    padding-top: 55px;
    padding-bottom: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-text {
  margin-bottom: 20px;
}

.main-footer__social {
  display: block;
}

.main-footer__htmlacademy-logo {
  display: flex;
  justify-content: space-between;

  @include font ($family: $font-base, $size: 16px, $line-height: 20px, $color: $color-footer-icons, $upper: none);

  margin-top: 20px;
  text-decoration: none;
}
