.main-header__wrapp {
  display: flex;
}

.main-header__nav {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }

  @include media-desktop {
    padding-top: 55px;
    padding-bottom: 29px;
  }
}
