.main-products {
  @include media-tablet {
    padding-bottom: 45px;
  }

  @include media-desktop {
    padding-bottom: 55px;
  }
}

.main-products__still {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;

  border-bottom: 1px solid $color-border-4;

  @include media-tablet {
    margin-top: 82px;
  }

  @include media-desktop {
    margin-top: 80px;
  }

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-image: url("../../img/tmp/icon_plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include media-tablet {
    background-color: $color-white;
    border: 1px solid $color-border-4;

    padding-top: 50px;
    padding-bottom: 40px;

    background-image: none;

    &::before {
      width: 60px;
      height: 60px;
    }
  }
}

.main-products__title {
  margin-bottom: 41px;

  @include media-tablet {
    margin-bottom: 84px;
  }

  @include media-desktop {
    margin-bottom: 84px;
  }
}

.main-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0 20px;


  @include media-tablet {
    grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));
    gap: 60px;
  }

  @include media-desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
