.main-nav__wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  @include list-reset;
  // display: none;

  display: flex;
  flex-direction: column;

  @include media-tablet {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__item {
  display: block;
  padding-bottom: 16px;

  text-align: center;

  border-top: 1px solid $color-border;

  @include media-tablet {
    border-top: none;
  }
}

.main-nav__link--current::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $color-bg-base;
}

.main-nav__link--index::after {
  @include media-desktop {
    background-color: $color-white;
  }
}


.main-nav__link {
  display: inline-block;
  position: relative;
  padding: 22px 0 8px;


  @include media-tablet {
    padding: 12px 0 14px;
  }
}
