.main-footer {
  background-color: #f2f2f2;
}

.main-footer__container {
  padding-top: 26px;

  @include media-tablet {
    padding-top: 60px;

    &--second {
      background-color: $color-bg-grey;
    }
  }

  @include media-desktop {
    padding-top: 0;
  }
}

.main-footer__wrapp {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  background-color: $color-bg-grey;

  @include media-tablet {
    text-align: left;

    padding-top: 50px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: start;
  }

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  width: fit-content;

  padding-bottom: 15px;

  @include media-tablet {
    padding-top: 13px;
    padding-bottom: 0;
    margin: 0;
  }
}

.main-footer__logo-text {
  @include media-tablet {
    margin-bottom: 0;
  }
}

.main-footer__social {
  display: block;
}

.main-footer__htmlacademy-wrapp {
  position: relative;
  margin-top: 20px;

  @include media-tablet {
    margin-top: 0;
    text-align: end;
    justify-self: end;
  }
}

.main-footer__htmlacademy-logo {
  display: block;
  text-align: left;
  width: fit-content;
  padding-top: 7px;
  padding-bottom: 7px;

  @include font ($family: $font-base, $size: 16px, $line-height: 20px, $color: $color-footer-icons, $upper: none);

  text-decoration: none;

  &:hover {
    // background-color: #7fffd4;

    .main-footer__htmlacademy-img {
      fill: $color-bg-base;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @include media-tablet {
    display: flex;
    gap: 23px;
    align-items: center;
    // width: 100%;
  }
}

.main-footer__htmlacademy-img {
  position: absolute;
  bottom: 0;
  right: 0;

  fill: $color-footer-icons;

  @include media-tablet {
    position: static;
  }
}

.main-footer__map {
  display: block;
  width: 100%;
  height: 362px;

  &.no-js {
    background-image: url("../../img/tmp/location.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/location-mob-@2x.jpg");
    }

    @include media-tablet {
      background-image: url("../../img/tmp/location-tabl.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/location-tabl-@2x.jpg");
      }
    }

    @include media-desktop {
      background-image: url("../../img/tmp/location-desk.jpg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/location-desk-@2x.jpg");
    }
  }

  @include media-tablet {
    height: 400px;
  }
}
