.main-header__wrapp {
  display: flex;
}

.main-header__nav {
  padding-top: 13px;
  padding-bottom: 15px;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include media-desktop {
    padding-top: 55px;
    padding-bottom: 29px;
  }
}
