.page__body {
  background-color: $color-white;
  margin: 0 auto;

  min-width: $mobile-width;

  border: 1px solid #ff0000;

  @include media-tablet {
    min-width: $tablet-width;
  }

  @include media-desktop {
    min-width: $desktop-width;
  }
}
