.product-footer {
  box-sizing: border-box;
  padding: 59px 58px 43px;

  text-align: center;

  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../img/tmp/catalog_bg-present.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 280px 290px, 280px 290px;

  @include media-tablet {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../img/tmp/catalog_bg-present-tabl.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 707px 200px, 707px 200px;

    padding: 57px 125px 60px 77px;
  }

  @include media-desktop {
    padding: 56px 42px 43px;
    background-size: 245px 288px, 245px 288px;

    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../img/tmp/catalog_bg-present.jpg");

    width: 245px;
    height: 288px;
  }
}

.product-footer__lid {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: start;
  }

  @include media-desktop {
    display: block;
    text-align: center;
  }
}

.product-footer__lid::before {
  display: block;
  content: "";
  width: 78px;
  height: 80px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  background-image: url("../../img/tmp/icon_gift.svg");
  background-repeat: no-repeat;

  @include media-tablet {
    // margin-right: 264px;
    margin-bottom: 0;
    margin-left: 0;

    width: 80px;
    height: 82px;
  }

  @include media-desktop {
    height: 83px;

    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
  }
}
