.product-footer {
  position: relative;

  box-sizing: border-box;
  padding: 59px 58px 43px;
  text-align: center;


  @include media-tablet {
    padding: 57px 125px 60px 77px;
  }

  @include media-desktop {
    padding: 56px 42px 43px;
  }

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;

    background-image: url("../../img/catalog/catalog_bg-present.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 290px;
    // background-size: cover;

    background-image: image-set(
      url(../../img/catalog/catalog_bg-present.webp) 1x type("image/webp"),
      url(../../img/catalog/catalog_bg-present.jpg) 1x,
      url(../../img/catalog/catalog_bg-present-@2x.webp) 2x type("image/webp"),
      url(../../img/catalog/catalog_bg-present-@2x.jpg) 2x
    );

    @include media-tablet {
      height: 200px;
      background-size: 707px 200px;

      background-image: url("../../img/catalog/catalog_bg-present-tabl.jpg");

      background-image: image-set(
        url(../../img/catalog/catalog_bg-present-tabl.webp) 1x type("image/webp"),
        url(../../img/catalog/catalog_bg-present-tabl.jpg) 1x,
        url(../../img/catalog/catalog_bg-present-tabl-@2x.webp) 2x type("image/webp"),
        url(../../img/catalog/catalog_bg-present-tabl-@2x.jpg) 2x
      );
    }

    @include media-desktop {
      height: 288px;
      background-size: 245px 288px;

      background-image: url("../../img/catalog/catalog_bg-present.jpg");

      background-image: image-set(
        url(../../img/catalog/catalog_bg-present.webp) 1x type("image/webp"),
        url(../../img/catalog/catalog_bg-present.jpg) 1x,
        url(../../img/catalog/catalog_bg-present-@2x.webp) 2x type("image/webp"),
        url(../../img/catalog/catalog_bg-present-@2x.jpg) 2x
      );
    }

  //   @media (min-resolution: 2dppx) {
  //     // background-image: url("../../img/catalog/catalog_bg-present-@2x.jpg");
  //     background-image: none;

  //     background-color: #ff0000;

  //     @include media-tablet {
  //       // background-image: url("../../img/catalog/catalog_bg-present-tabl-@2x.jpg");
  //       background-image: none;

  //       background-color: #0040ff;
  //     }

  //     @include media-desktop {
  //       // background-image: url("../../img/catalog/catalog_bg-present-@2x.jpg");
  //       background-image: none;

  //       background-color: #ff00ff;
  //     }
  //   }
  }

  &::after {
    content: "";
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(104, 183, 56, 0.85);

    @include media-tablet {
      height: 200px;
    }

    @include media-desktop {
      height: 288px;
    }
  }
}

.product-footer__lid {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: start;
    padding-top: 3px;
  }

  @include media-desktop {
    // display: block;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }
}

.product-footer__lid::before {
  display: block;
  content: "";
  width: 78px;
  height: 80px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  background-image: url("../../img/stack.svg#icon_gift");
  background-repeat: no-repeat;

  @include media-tablet {
    margin-bottom: 0;
    margin-left: 0;

    width: 80px;
    height: 82px;
  }

  @include media-desktop {
    height: 83px;

    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
  }
}
