.property {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.property__data {
  @include font ($size: 24px, $line-height: 24px);

  box-sizing: border-box;
  text-align: center;
  padding: 13px 18px 18px;
  border: 1px solid $color-border-3;
  border-radius: 3px;
  min-width: 124px;

  @include media-tablet {
    @include font ($size: 30px, $line-height: 37px);

    padding: 13px 26px 20px;
    width: 162px;
  }

  @include media-desktop {
    padding: 13px 18px 20px;
    min-width: 162px;
  }
}

.property__description {
  box-sizing: border-box;
  margin-left: 0;
  // width: fit-content;
  padding: 0 20px;
  text-align: center;
  background-color: $color-bg-examples;

  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);

  @include media-tablet {
    background-color: $color-white;
    padding: 0 10px;
    width: 150px;
    top: 62px;
  }

  @include media-desktop {
    background-color: $color-bg-grey;
  }
}
