.social {
  @include list-reset;
  display: flex;
  gap: 24px;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid $color-border-2;
  border-bottom: 1px solid $color-border-2;

  @include media-tablet {
    border-top: none;
    border-bottom: none;
  }
}
