.button {
  padding: 10px 20px;
  display: block;

  @include media-tablet {
    padding: 14px 26px;
    display: inline-block;

    &--form {
      padding: 14px 65px;
    }
  }

  @include media-desktop {
    padding: 10px 26px;
  }

  &--form {
    padding: 14px 208px;
  }
}
