.container {
  box-sizing: border-box;

  width: 320px;
  margin: auto;
  border: 1px solid #00ff00;

  &--second {
    background-color: $color-bg-grey;
  }

  @include media-tablet {
    width: 768px;
  }

  @include media-desktop {
    width: 1440px;
  }
}
