.container {
  box-sizing: border-box;

  min-width: 320px;
  margin: auto;

  &--second {
    background-color: $color-bg-grey;
  }

  @include media-tablet {
    min-width: 768px;
  }

  @include media-desktop {
    min-width: 1440px;
  }
}
