@mixin font ($family: $font-secondary, $size, $line-height, $weight: 400, $color: $color-black, $upper: uppercase) {

  margin-top: 0;
  margin-bottom: 0;
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  text-transform: $upper;
}

@mixin list-reset ($padd-left: 0) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $padd-left;
  list-style: none;
}

@mixin media-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}


@mixin hamburger-line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $color-black;
}


@mixin icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
