// FONTS

$font-base: "Lato", "PT Sans", sans-serif;
$font-secondary: "Oswald", "PT Sans", sans-serif;


// COLORS

//  для текста
$color-base-text: #444444;
$color-black: #000000;
$color-white: #ffffff;
$color-footer-icons : #666666;
$color-second-text: #111111;
$color-product-title: #222222;

//  для фонов
$color-bg-base: #68b738;
$color-bg-grey: #f2f2f2;
$color-bg-examples: #eaeaea;
$color-bg-base-hover: #5eaa2f;

//  для линий
$color-border: #e6e6e6;
$color-border-field: #e7e7e7;

$color-border-2: #d9d9d9;
$color-border-3: #cdcdcd;
$color-border-4: #ebebeb;
$color-border-hover: #bababa;

$color-dop: #d3d3d3;

//  для форм
$color-error: #ff8282;

// WIDTH

$desktop-width: 1440px;

$tablet-width: 768px;

$mobile-width: 320px;
