// fonts

$font-base: "Lato", "PT Sans", sans-serif;
$font-secondary: "Oswald", "PT Sans", sans-serif;


// colors

//  для текста
$color-base-text: #444444;
$color-black: #000000;
$color-white: #ffffff;
$color-footer-icons : #666666;
$color-second-text: #111111;
$color-product-title: #222222;

//  для фонов
$color-bg-base: #68b738;
$color-bg-grey: #f2f2f2;
$color-bg-examples: #eaeaea;

//  для линий
$color-border: #e6e6e6;
$color-border-2: #d9d9d9;
$color-border-3: #cdcdcd;
$color-border-4: #ebebeb;

$color-dop: #d3d3d3;

//  для полей таблицы

$color-border-field: #e7e7e7;
