// fonts

$font-base: "Lato", "PT Sans", sans-serif;
$font-secondary: "Oswald", "PT Sans", sans-serif;




// colors

$color-base: #444444;
$color-black: #000000;
$color-white: #ffffff;
$color-bg-base: #68B738;
$color-bg-grey: #F2F2F2;
$color-bg-grey-mobile: #D9D9D9;
